.add-user-form-container{
    width: 700px;
    margin: 2rem auto;
} 

.add-user-form-container .ant-picker{
    width: 100%;
}

@media (max-width:800px){
    .add-user-form-container{
        width: 80%;
    }
}